---
subcategory: "Service accounts"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` provides an Organization Service Account resource. The resource lets you create, edit and delete service accounts at the organization level.

## Example Usages

{{ tffile (printf "examples/%s/main.tf" .Name )}}

### Further Examples
- [Atlas Organization Service Account](https://github.com/mongodb/terraform-provider-mongodbatlas/tree/v2.2.0/examples/mongodbatlas_org_service_account)

{{ .SchemaMarkdown | trimspace }}

## Import 
Organization Service Account resource can be imported using the org ID and service account ID (client ID), in the format `{ORG_ID}-{CLIENT_ID}`, e.g.

```
terraform import mongodbatlas_org_service_account.this 65def6ce0f722a1507105aa5-mdb_sa_id_66f1c018dba9c04e7dcfaf36
```

For more information see: [MongoDB Atlas API - Service Accounts](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/group/endpoint-service-accounts) Documentation.
