---
subcategory: "Service accounts"
---

# {{.Type}}: {{.Name}}

`{{.Name}}` describes an Organization Service Account resource.

## Example Usages
{{ tffile (printf "examples/%s/data.tf" .Name )}}

{{ .SchemaMarkdown | trimspace }}

For more information see: [MongoDB Atlas API - Service Accounts](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/group/endpoint-service-accounts) Documentation.
